body {
  font-size: 20px;
  margin: auto;
  background-color: #f7fafc;
  font-family: "Roboto", sans-serif;
}

/* Paragraph and hr styling */

.paragraph {
  text-align: center;
  margin: 30px 0 10px 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 35px;
}
.container {
  margin-bottom: 80px;
}

hr {
  text-align: center;
  margin-bottom: 80px;
  max-width: 500px;
}

/* Lists styling */

.list {
  font-weight: 300;
  margin: 30px 0px 80px 0px;
  font-size: 1;
  max-width: 10px;
}

/* Code styling */

.pre {
  background-color: #2d3748;
  margin: auto;
  color: white;
  padding: 25px;
  margin-bottom: 80px;
  margin-top: 80px;
  border-radius: 10px;
  max-height: 500px;
}

/* Responsive design section */

@media (min-width: 0px) {
  .tablexample {
    height: 100px;
    width: 310px;
    margin: auto;
  }
  .pre {
    width: 310px;
  }
  table {
    height: 310px;
    width: 310px;
  }
  .tablexample2 {
    height: 100px;
    width: 310px;
    margin: auto;
  }
}

@media (min-width: 360px) {
  .tablexample {
    height: 100px;
    width: 360px;
    margin: auto;
  }
  .tablexample2 {
    height: 100px;
    width: 360px;
    margin: auto;
  }
  .pre {
    width: 360px;
  }
  table {
    height: 360px;
    width: 360px;
  }
}

@media (min-width: 562px) {
  table {
    height: 562px;
    width: 562px;
  }
  .tablexample {
    height: 100px;
    width: 562px;
    margin: auto;
  }
  .tablexample2 {
    height: 100px;
    width: 562px;
    margin: auto;
  }
  .pre {
    width: 562px;
  }
}

@media (min-width: 701px) {
  .pre {
    width: 700px;
  }
  table {
    height: 700px;
    width: 700px;
  }
  .tablexample {
    height: 100px;
    width: 700px;
    margin: auto;
  }
  .tablexample2 {
    height: 100px;
    width: 700px;
    margin: auto;
  }
}

@media (min-width: 995px) {
  body {
    margin-left: 10px;
    margin-right: 10px;
  }
  table {
    height: 995px;
    width: 995px;
  }
  .tablexample {
    height: 100px;
    width: 800px;
  }
  .tablexample2 {
    height: 100px;
    width: 800px;
    margin: auto;
  }
  .pre {
    width: 995px;
  }
}
