body {
  font-size: 20px;
  margin-left: 400px;
  margin-right: 400px;
  background-color: #f7fafc;
  font-family: "Kumbh Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

.paragraph {
  text-align: center;
  margin: 30px 0 10px 0;
  font-size: 35px;
}

.margin-10 {
  margin-bottom: 100px;
}

.center {
  text-align: center;
}

.container {
  text-align: center;
}

.unordered {
  font-weight: 300;
  margin: 30px 0px 80px 0px;
  font-size: 1;
  max-width: 10px;
}

.nice {
  font-weight: 300;
  margin: 30px 0px 80px 0px;
  font-size: 1;
}

#images-list {
  margin-left: 32.5%;
  margin-top: 50px;
}

.test {
  transition: ease-out 0.3s;
}

.test:hover {
  transform: scale(1.1);
}

#spis {
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  line-height: 30px;
  padding-right: 40px;
}

/* #spis > li {
    border-bottom: 1px solid grey;
} */

#spis > li:hover {
  border-bottom: 1px solid grey;
  transform: scale(1.1);
}

#spis > li > a {
  text-decoration: none;
  color: black;
}

.pre {
  background-color: #2d3748;
  width: 1000px;
  margin: auto;
  color: white;
  padding: 25px;
  margin-bottom: 50px;
  border-radius: 10px;
}
