body {
  font-size: 20px;
  margin: auto;
  background-color: #f7fafc;
  font-family: "Roboto", sans-serif;
}

.paragraph {
  text-align: center;
  margin: 30px 0 10px 0;
  font-size: 35px;
}

hr {
  text-align: center;
  width: 500px;
}

.list {
  font-weight: 300;
  margin: 30px 0px 80px 200px;
  font-size: 1;
  max-width: 10px;
}

#images-list {
  margin-left: 32.5%;
  margin-top: 50px;
}

.test {
  transition: 0.3s;
}

.test:hover {
  transform: scale(1.1);
}

.pre {
  background-color: #2d3748;
  width: 800px;
  margin: auto;
  color: white;
  padding: 25px;
  margin-bottom: 50px;
  border-radius: 10px;
}

@media (min-width: 591px) {
  table {
    height: 700px;
    width: 700px;
  }
  .tableex {
    height: 100px;
    min-width: 300px;
    margin: auto;
  }
  .pre {
    width: 700px;
  }
}

@media (min-width: 995px) {
  body {
    margin-left: 10px;
    margin-right: 10px;
  }
  table {
    height: 1000px;
    width: 1000px;
  }
  .tableex {
    height: 100px;
    width: 800px;
  }
  .pre {
    width: 800px;
  }
}